node_modules
npm-debug.log
build
.DS_Store
.git
.gitignore
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
*.md
*.log
coverage
__tests__
**/__mocks__
**/__snapshots__
*.test.*
*.spec.*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
